/* GENERAL */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #f5f7fa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #680098;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #370050;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  background: url("/images/view-laboratory-equipment-neon-lights\ \(1\).jpg") no-repeat center center/cover;
  color: rgb(213, 213, 213);
}
.hero .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 19, 116, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #c9cbce;
}

.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 30px auto;
}

/* MAIN LAYOUT WRAPPER */
.page-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px;
}

/* FORM */
.form-section {
  flex: 2;
  background: white;
  padding: 3rem;
  border-radius: 10px;
}

h1 {
  color: #680098;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px #380251;
  margin-top: 5px;
}

textarea {
  height: 120px;
}

/* TWO INPUTS SIDE BY SIDE */
.two {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.two div {
  flex: 1;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #4b006d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CONTACT PANEL */
.contact-section {
  width: 320px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
}

.contact-section h2 {
  color: #4b006d;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.icon {
  font-size: 24px;
  background: #4b006d;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: #9842c0;
  color: white;
  padding: 20px;
}
.footer a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #4f0073;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 2rem auto;
}

.footer-about,
.footer-contact,
.footer-social-hours {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.footer-about h3,
.footer-contact h4,
.footer-social-hours h4 {
  color: #680098;
  margin-bottom: 10px;
}

.footer-social-hours .social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.footer-social-hours .hours {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-logo {
  width: 30px;
  height: 30px;
  filter: invert(1);
  transition: transform 0.3s;
}

.social-logo:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  color: #680098;
}
@media (max-width: 1024px) {
  nav {
    padding: 15px 30px;
  }

  .page-wrapper {
    gap: 20px;
    padding: 30px;
  }
}